// colors
$block-bgcolor: #2a2d32;
$footer-link-color: #828385;
$info-number-color: rgba(42, 43, 46, 0.2);
$yellow:#f4b60d; 
$blue: #248cec;
$pagination-active-color: #001d1d;
$basic-text-color: #8a8a8a;

// fonts and sizes
$basic-font-size: 13px;
$menu-font-size: 14px;
$slider-font-size: 54px;
$menu-font-family: "Ubuntu Condensed Regular", Arial, sans-serif;
$industrial-font-family: "Ubuntu Light Bold", Arial, sans-serif;
$basic-font-family: Arial, sans-serif;
